.container {
  display: flex;
}
.subContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.missionVisionImage {
  max-width: 20rem;
}
.subContainer p,
.subContainer li {
  max-width: 75%;
  margin-inline: auto;
}

.subContainer:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 65%;
  width: 2px;
  height: 12vw;
  max-height: 12rem;
  background-color: rgba(100, 98, 98, 0.548);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .subContainer:first-child::after {
    display: none;
  }
}
